.padre{	margin:auto;
		background-color: #D4A664;
		width: 900px;
		height: 200px;

		}

.hijo1{	display: inline-block;
		/*background-color: #CC821B;*/
		width: 300px;
		height: 150px;
		margin: 20px;
		background-image: url("../img/logo.png");
		background-size: 200px 150px;
		background-repeat: no-repeat;
		background-position: center;
		}		

.hijo2{	display: inline-block;
		background-color: #B2721E;
		width: 500px;
		height: 150px;
		margin: 20px;
		}			


#menu {background-color: #1F0B99;
	   color:#FFFFFF;
	   margin: 10px;
	   width: 1800px;
	   }

#menu li{
	     list-style-type:none; 
	     display: inline-block;
	     padding: 15px;
         }	   

#menu li:hover{color:#F81010;
			   background-color: #6E746E} 

#menu li a{
			text-decoration: none;
			color:#FFFFFF;
		  }			

.texto {
		background-color: #11858F;
		overflow: scroll;
		width: 200px;
		}

.txt{background-color:#AEF2D1;
	 margin:4px;
	 border-radius: 6px;
	 width: 150px;
	 }		

label
{
 background: #7AB893;
 text-align: right;
 margin: 4px;
 position: relative;
 transition: width .35s ease-in-out;
}	 
		  

.login 
{
  color: #EE0C1C;
  width: 6em;
  font-family: arial;
  font-weight: 100;
  font-size: 1.05em;
  border: 1px solid #160977;
  background: transparent;
  transition: all 200ms ease-in;
  border-radius: .65em;
 }

 input[type=submit]:hover,focus 
 {
    background: #fff;
    color: #160977;
    border: 2px solid #EE0C1C;
  }
